{% extends 'partials/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreApp-Clientes</title>
</head>
<body>
    <center>
        <h1>Datos Cliente</h1>
    </center>
    <p align="right">
        <a href="{% url 'ver_pcliente' %}" class="btn btn-primary">Regresar</a>
       </p>
    <div class="container mt-4">
        <div class="card" style="text-align: center">
            <table>
                <tr>
                    <th><h3>Nombre</h3></th>
                    <th><h3>Cedula</h3></th>
                </tr>
                <tr>
                    <td><p> {{cliente.nombre}} {{cliente.apellido}} </p></td>
                    <td><p> {{cliente.cedula}} </p></td>
                </tr>
                <tr>
                    <th><h3>Telefono</h3></th>
                    <th><h3>Email</h3></th>
                </tr>
                <tr>
                    <td><p>{{cliente.telefono}} </p></td>
                    <td><p>{{cliente.correo}} </p></td>
                </tr>

            </table>    
        </div>
    </div>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h3>Observaciones</h3>
            </div>
            <p>{{cliente.observaciones}}</p>
        </div>
    </div>
    
    <div class="container">
        <h2>Agregar observaciones</h2>
        <button id="show-form" onclick="showForm()">Mostrar formulario</button>
      
        <div id="form" style="display: none;">
          <form action="{% url 'agregar_observaciones' cliente.id %}" method="post">
            {% csrf_token %}
            <label for="observacion">Observaciones:</label>
            <br>
            <textarea name="observacion" id="observacion" rows="5" cols="50"></textarea>
            <br>
            <button type="submit" class="btn btn-primary">Agregar</button>
          </form>
        </div>
      </div>


    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h2>Seguimiento Procesos</h2>
            </div>
            {% for prop in propiedad %}
            <h3> {{prop.codigo}}  </h3>
            <h2> {{prop.fecha_ingreso}} </h2>
            <h2> {{prop.proceso}} </h2>
            {%endfor%}
        </div>

    </div>

<hr>

    <div class="container mt-4" style="text-align: center">
        <div class="card">
            <table >
                <td>
                    <a type="button" href="{{ cliente.get_delete_url }}" class="btn btn-danger">Eliminar</a>
                    <a type="button" href="{{ cliente.get_edit_url }}" class="btn btn-warning">Editar</a> 
                    <!-- 
                        <a href="{% url 'ver_pcliente' %}" class="btn btn-primary">Volver a Página de Clientes</a>
                    -->   
                </td>
            </table>
        </div>
    </div>


    
</body>
{% endblock %}
{% block scripts %}
    <script>
    function showForm() {
      document.getElementById('form').style.display = 'block';
    }
    </script>
</html>

{% endblock %}