{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CreApp-Propiedades</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.bootstrap5.css">

</head>
<body>
  <center>
    <h1>Propiedades Disponibles</h1>
  </center>
  <br>
  <hr>
  <table class="table table-striped" style="text-align: center" id="tpropiedad_disponible">
    <thead >
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Ubicación</th>
      <th>Precio Comercial</th>
      <th>Precio Crea</th>
      <th>Precio Mínimo</th>
      <th>Descripción</th>
      <th>Detalles</th>
      <th>Convenio</th>
    </tr>
  </thead>
  <tbody>
    {% for prop in propiedad %}
      <tr class="searchable">
        <td>{{prop.pk}}</td>
        <td>{{prop.tipo}}</td>
        <td>{{prop.ubicacion}}</td>
        <td>{{prop.precio_comercial}}</td>
        <td>{{prop.precio_crea}}</td>
        <td>{{prop.precio_minimo}}</td>
        <td>{{prop.descripcion}}</td>
        <td><a href='/propiedaddis/{{prop.pk}}' class="btn btn-primary">Detalles</a></td>
        <td><a href='/convenio/{{prop.pk}}' class="btn btn-warning">Convenio</a></td>
        
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
  </tfoot>
  </table>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.min.js"></script>
<script>
  $(document).ready(function(){
      $('#tpropiedad_disponible').DataTable({
          "language": {
              "lengthMenu": "Mostrar _MENU_ registros",
              "zeroRecords": "No se encontraron resultados",
              "info": "Registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "infoEmpty": "Registros del 0 al 0",
              "infoFiltered": "(Total de _MAX_ registros)",
              "sSearch": "Buscar:",
              "oPaginate": {
                  "sFirst": "Primero",
                  "sLast":"Último",
                  "sNext":"Siguiente",
                  "sPrevious": "Anterior"
         },
         "sProcessing":"Procesando...",
          }
      });
  });
</script>
</html>

{% endblock %}