{% extends 'partials/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreApp-Propiedades</title>
</head>
<body>
    <center>
        <h1 >Propiedades Disponibles</h1>
    </center>
   <hr>
    <table class="table table-striped" style="text-align: center">
        <tr>
            <td><h2>ID</h2></td>
            <td><h2>Tipo</h2></td>
            <td><h2>Ubicacion</h2></td>
            <td><h2>Precio Comercial</h2></td>
            <td><h2>Precio Crea</h2></td>
            <td><h2>Precio Mínimo</h2></td>
            <td><h2>Descripcion</h2></td>
            <td><h2> </h2></td>
        </tr>

                {% for prop in propiedad %}
                <tr>
                    <td>{{prop.pk}}</td>
                    <td>{{prop.tipo}}</td>
                    <td>{{prop.ubicacion}}</td>
                    <td>{{prop.precio_comercial}}</td>
                    <td>{{prop.precio_crea}}</td>
                    <td>{{prop.precio_minimo}}</td>
                    <td>{{prop.descripcion}}</td>
                    <td><a href='/propiedaddis/{{prop.pk}}' class="btn btn-primary"> Ver</a> </td>
                </tr>
                {% endfor %}

    </table>

    
    
</body>
</html>

{% endblock %}