{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CreApp-Propiedades</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.bootstrap5.css">
  
</head>
<body>
  <center>
    <h1>Posibles Propiedades</h1>
  </center>
  <hr>
  <table  WIDTH="100%">
    <tr>
        <td>
            <p align="right">
                <a href="{% url 'nueva_propiedad' %}" class="btn btn-primary">Nueva Propiedad</a>
              </p>
        </td>
    </tr>
  </table>
  <hr>

  <table class="table table-striped" style="text-align: center" id="tpropiedad">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Tipo</h3></th>
        <th>Ubicacion</th>
        <th>Precio</th>
        <th>Descripcion</th>
        <th>Detalles</th>
      </tr>
    </thead>
    <tbody>
      {% for prop in propiedad %}
        {% if prop.es_activo %}
          <tr class="searchable">
            <td>{{prop.codigo}}</td>
            <td>{{prop.tipo}}</td>
            <td>{{prop.ubicacion}}</td>
            <td>{{prop.precio}}</td>
            <td>{{prop.descripcion}}</td>
            <td><a href='/propiedad/{{prop.pk}}' class="btn btn-primary">Ver</a></td>
          </tr>
        {% endif %}
      {% endfor %}
    <tbody>
    <tfoot>
    </tfoot>
  </table>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.bootstrap5.min.js"></script>
<script>
  $(document).ready(function(){
      $('#tpropiedad').DataTable({
          "language": {
              "lengthMenu": "Mostrar _MENU_ registros",
              "zeroRecords": "No se encontraron resultados",
              "info": "Registros del _START_ al _END_ de un total de _TOTAL_ registros",
              "infoEmpty": "Registros del 0 al 0",
              "infoFiltered": "(Total de _MAX_ registros)",
              "sSearch": "Buscar:",
              "oPaginate": {
                  "sFirst": "Primero",
                  "sLast":"Último",
                  "sNext":"Siguiente",
                  "sPrevious": "Anterior"
         },
         "sProcessing":"Procesando...",
          }
      });
  });
</script>
</html>
{% endblock %}