{% extends 'partials/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreApp-Propiedad</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;

        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;

            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card {
            margin-bottom: 20px;
            padding: 20px;

            border-radius: 6px;

        }

        .card-header {

            padding: 10px;

            border-radius: 6px 6px 0 0;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1>Datos Propiedad</h1>
            </div>
            <div class="card-body">
                <h3>Tipo: {{ propiedad.tipo }}</h3>
                <h5>Codigo: {{ propiedad.codigo }}</h5>
                <h5>Fecha de Ingreso: {{ propiedad.fecha_ingreso }}</h5>
                <h5>Fecha de Caducidad: {{ propiedad.fecha_caducidad }}</h5>
                <h5>Ubicacion: {{ propiedad.ubicacion }}</h5>
                <h5>Descripcion: {{ propiedad.descripcion }}</h5>
                <h5>Foto: 
                    {% if propiedad.foto_propiedad %}
                        <img src="{{ propiedad.foto_propiedad.url }}" alt="">
                    {% endif %}
                </h5>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h2>Valor de Propiedad</h2>
            </div>
            <div class="card-body">
                <h5>Precio Comercial: {{ propiedad.precio_comercial }}</h5>
                <h5>Precio Crea: {{ propiedad.precio_crea }}</h5>
                <h5>Precio Mínimo: {{ propiedad.precio_minimo }}</h5>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h2>Datos Dueño</h2>
            </div>
            <div class="card-body">
                <h5>Nombre: {{ cliente.nombre }} {{ cliente.apellido }}</h5>
                <h5>Telefono: {{ cliente.telefono }}</h5>
                <h5>Email: {{ cliente.correo }}</h5>
                <h5>Observaciones: {{ cliente.observaciones }}</h5>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                <h2>Datos Generales</h2>
            </div>
            <div class="card-body">
                <h5>Tipo de Comisión: {{ propiedad.tipo_comision }}</h5>
                <h5>Convenio: {{ propiedad.convenio }}</h5>
                <h5>Estado: {{ propiedad.proceso }}</h5>
            </div>
        </div>   
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCapturarPropiedad">
            Capturar Propiedad
        </button>  
        <!-- Modal -->
        <div class="modal-body">
            <!-- Formulario de captura de propiedad -->
            <form id="formCapturarPropiedad" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Campo oculto para la ID de la propiedad -->
                <input type="hidden" name="propiedad" value="{{ propiedad.id }}">
                <div class="form-group">
                    <label for="cliente">Cliente:</label>
                    <select name="cliente" id="cliente" class="form-control">
                        {% for cliente in cliente2 %}
                            <option value="{{ cliente.id }}">{{ cliente.nombre }} {{ cliente.apellido }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="vendedor">Vendedor:</label>
                    <select name="vendedor" id="vendedor" class="form-control">
                        {% for empleado in empleados %}
                            <option value="{{ empleado.id }}">{{ empleado.nombre }} {{ empleado.apellido }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Guardar Propiedad</button>
            </form>
        </div>
        <!-- Modal -->




    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Incluir Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock %}